@model RoleViewModel
@{
    ViewData["Title"] = "Create";
}


<h1>Create New Role</h1>

<br />

<form asp-action="Create" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="All"></div>

    <partial name="PartialViews/_CreateEditRoleView" />

    <input type="submit" value="Create" class="btn btn-outline-primary" /> |
    <a class="btn btn-light" asp-controller="Role" asp-action="Index">Back To List</a>

</form>

@section ValidateScriptSection
{
    <partial name="_ValidationScriptsPartial" />
}




