@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-danger">Are You Sure You Want To Delete @Model.RoleName's Info..?!</h2>
<br />

<form asp-action="ConfirmDelete">

    <partial name="PartialViews/_DetailsDeleteRoleView" />

    <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
    <a class="btn btn-light" asp-controller="Role" asp-action="Index">Back To List</a>

</form>

