@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}


<h1>Edit @Model.RoleName's Info</h1>



<form asp-action="Edit" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="All"></div>

    <partial name="PartialViews/_CreateEditRoleView" />

    <div class="my-2">
        <a asp-controller="Role" asp-action="AddOrRemoveUsers" class="btn btn-outline-secondary" asp-route-roleId ="@Model.Id">Add Or Remove Users</a>
    </div>

    <input type="submit" value="Save Changes" class="btn btn-outline-primary" /> |
    <a class="btn btn-light" asp-controller="Role" asp-action="Index">Back To List</a>

</form>

@section ValidateScriptSection
{
    <partial name="_ValidationScriptsPartial" />
}


