@model RoleViewModel


<div class="mb-3">
    <label class="col-form-label" asp-for="RoleName"></label>
    <input class="form-control" asp-for="RoleName" />
    <span asp-validation-for="RoleName" class="text-danger"></span>
</div>
