@model DepartmentViewModel

<div>
    <label class="col-form-label" asp-for="Code"></label>
    <input readonly class="form-control" asp-for="Code" />

</div>

<div class="mb-2">
    <label class="col-form-label" asp-for="Name"></label>
    <input readonly class="form-control" asp-for="Name" />

</div>
