@model Department;

@{
    ViewData["Title"] = "Delete";
}

<h2 class ="text-danger" >Are You Sure That You Want To Delete @Model.Name Department..!</h2>
<br />  
<form asp-action="Delete">
    <div>
        <label class="col-form-label" asp-for="Code"></label>
        <input readonly class="form-control" asp-for="Code" />

    </div>

    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input readonly class="form-control" asp-for="Name" />

    </div>

    <div>
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input readonly class="form-control mb-3" asp-for="DateOfCreation" />

    </div>

    <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
    <a class="btn btn-outline-dark" asp-controller="Department" asp-action="Index">Cancel</a>

</form>


