@model Department;

@{
    ViewData["Title"] = "Details";
}

<h1>Department @Model.Name Details</h1>

<form>
   
    <partial name="PartialViews/_DetailsDeleteDepartmentView" />

    <a class="btn btn-secondary" asp-controller="Department" asp-action="Edit" asp-route-id = "@Model.Id">Edit</a> |
    <a class="btn btn-light" asp-controller="Department" asp-action="Index">Back To List</a>

</form>

