@model DepartmentViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Details</h1>

<div asp-validation-summary="All"></div> 
@* This is useful for providing users with a clear indication of what needs to be fixed when the form submission fails.*@
 
<form asp-action="Edit">
   
    <partial name="PartialViews/_CreateEditDepartmentView" />

    <input type="submit" value="Save Changes" class="btn btn-outline-success" /> |
    <a class="btn btn-light" asp-controller="Department" asp-action="Index">Back To List</a>

</form>

@section ValidateScriptSection
{
    <partial name="_ValidationScriptsPartial" />
}
