@model Department;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name Details</h1>

<div asp-validation-summary="All"></div> 
@* This is useful for providing users with a clear indication of what needs to be fixed when the form submission fails.*@
 
<form asp-action="Edit">
    <div>
        <label class="col-form-label" asp-for="Code"></label>
        <input class="form-control" asp-for="Code" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div>
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label class="col-form-label" asp-for="DateOfCreation"></label>
        <input class="form-control mb-3" asp-for="DateOfCreation" />

    </div>

    <input type="submit" value="Save Changes" class="btn btn-outline-success" /> |
    <a class="btn btn-light" asp-controller="Department" asp-action="Index">Back To List</a>

</form>

