@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}


<h1>Add A New Employee</h1>
<br />

<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Create" enctype="multipart/form-data">
    
    <partial name="PartialViews/_CreateEditEmployeeView" />

    <input type="submit" value="Create" class="btn btn-outline-primary" /> |
    <a class="btn btn-light" asp-controller="Employee" asp-action="Index">Back To List</a>

</form>

@section ValidateScriptSection
{
    <partial name="_ValidationScriptsPartial" />
}