@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Details Of @Model.Name </h1>

<form>
    <partial name="PartialViews/_DetailsDeleteEmployeeView" />

    <a class="btn btn-secondary" asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-light" asp-controller="Employee" asp-action="Index">Back To List</a>

</form>
