@model Employee
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit @Model.Name's Info</h1>


<div class="text-danger" asp-validation-summary="All"></div>

<form asp-action="Edit">
    
    <partial name="PartialViews/_CreateEditEmployeeView" />

    <input type="submit" value="Save Changes" class="btn btn-outline-primary" /> |
    <a class="btn btn-light" asp-controller="Employee" asp-action="Index">Back To List</a>

</form>

@section ValidateScriptSection
{
    <partial name="_ValidationScriptsPartial" />
}

  