
@model UserViewModel

<div>
    <label class="col-form-label" asp-for="FName"></label>
    <input class="form-control" asp-for="FName" />
    <span asp-validation-for="FName" class="text-danger"></span>
</div>

