@model UserViewModel

<div>
    <label class="col-form-label" asp-for="Id"></label>
    <input readonly class="form-control" asp-for="Id" />

</div>

<div>
    <label class="col-form-label" asp-for="FName"></label>
    <input readonly class="form-control" asp-for="FName" />
    
</div>

<div>
    <label class="col-form-label" asp-for="LName"></label>
    <input readonly class="form-control" asp-for="LName" />

</div>

<div>
    <label class="col-form-label" asp-for="Email"></label>
    <input readonly class="form-control" asp-for="Email" />

</div>

<div class="mb-3">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input readonly class="form-control" asp-for="PhoneNumber" />

</div>

